<nav class="container navbar navbar-expand-lg bg-light sticky-top pt-2 pb-2 border-bottom border-secondary border-2 shadow" data-bs-theme="light">
    <div class="container-fluid p-0 ">
        <a class="navbar-brand p-0" [routerLink]="['/home']">
          <img src="https://www.svgrepo.com/show/530661/genetic-data.svg" alt="" height="51.5" class="d-inline-block align-text-top bg-light">
        </a>
        <h2 class="text-secondary"> Usuarios.com </h2>
        <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home/users/newuser']" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Nuevo Usuario</a>
              </li>
            </ul>
        </div>
    </div>
</nav>
